<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kasia.indexapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Aktualne_Dane"
            android:label="@string/title_activity_aktualne__dane"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kasia.indexapp.MainActivity" />
        </activity>
        <activity
            android:name=".Archiwalne_Dane"
            android:label="@string/title_activity_archiwalne__dane"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kasia.indexapp.MainActivity" />
        </activity>
        <activity
            android:name=".Wizytowka"
            android:label="@string/title_activity_wizytowka"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kasia.indexapp.MainActivity" />
        </activity>
        <activity
            android:name=".Makro_wskazniki"
            android:label="@string/title_activity_makro_wskazniki"
            android:parentActivityName=".Aktualne_Dane" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kasia.indexapp.Aktualne_Dane" />
        </activity>
        <activity
            android:name=".Praca_wskazniki"
            android:label="@string/title_activity_praca_wskazniki"
            android:parentActivityName=".Aktualne_Dane" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kasia.indexapp.Aktualne_Dane" />
        </activity>
        <activity
            android:name=".Finanse_wskazniki"
            android:label="@string/title_activity_finanse_wskazniki"
            android:parentActivityName=".Aktualne_Dane" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kasia.indexapp.Aktualne_Dane" />
        </activity>

        <activity
            android:name=".Kursy_walut"
            android:label="@string/title_activity_kursy_walut"
            android:parentActivityName=".Kursy_walut" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kasia.indexapp.Aktualne_Dane" />
        </activity>
        <activity
            android:name=".praca_wyniki"
            android:label="@string/title_activity_praca_wyniki"
            android:parentActivityName=".Praca_wskazniki" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kasia.indexapp.Praca_wskazniki" />
        </activity>
        <activity
            android:name=".finanse_wyniki"
            android:label="@string/title_activity_finanse_wyniki"
            android:parentActivityName=".Finanse_wskazniki" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kasia.indexapp.Finanse_wskazniki" />
        </activity>
        <activity
            android:name=".makro_wyniki"
            android:label="@string/title_activity_makro_wyniki"
            android:parentActivityName=".Makro_wskazniki" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kasia.indexapp.Makro_wskazniki" />
        </activity>
        <activity
            android:name=".archiwum_wyniki"
            android:label="@string/title_activity_archiwum_wyniki"
            android:parentActivityName=".Archiwalne_Dane" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kasia.indexapp.Archiwalne_Dane" />
        </activity>
        <activity
            android:name=".Kursy_wyniki"
            android:label="@string/title_activity_kursy_wyniki"
            android:parentActivityName=".Kursy_walut" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kasia.indexapp.Kursy_walut" />
        </activity>
    </application>

</manifest>
